<div class="card bg-black text-black">
    <div class="card-header">{{title}}</div>
    <div class="card-body"></div>

    <form [formGroup]="form" (ngSubmit) = "creat()">
        
        <div class="form-group row">
            <label for="numCedula" class="col form-label col-sm-2">Numero de cédula</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="usuarios.ciUsuario" name="numCedula" formControlName="numCedula">
            </div>
        </div>

        <div class="form-group row">
            <label for="nombres" class="col form-label col-sm-2">Nombre</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="usuarios.nombres" name="nombres" formControlName="nombres">
            </div>
        </div>

        <div class="form-group row">
            <label for="apellidos" class="col form-label col-sm-2">Apellido</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  [(ngModel)]="usuarios.apellidos" name="apellidos" formControlName="apellidos">  
            </div>
        </div>

        <div class="form-group row">
            <label for="fechaNa" class="col form-label col-sm-2">Fecha de nacimiento</label>
            <div class="col-sm-6">
                <input type="date" class="form-control"  [(ngModel)]="usuarios.fechaNa" name="fechaNa" formControlName="fechaNa">  
            </div>
        </div>

        <div class="form-group row">
            <label for="direccion" class="col form-label col-sm-2">Dirección</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  [(ngModel)]="usuarios.direccion"name="direccion" formControlName="direccion">  
            </div>
        </div>

        <div class="form-group row">
            <label for="correo" class="col form-label col-sm-2">Correo</label>
            <div class="col-sm-6">
                <input type="email" class="form-control"  [(ngModel)]="usuarios.correo" name="correo" formControlName="correo">  
            </div>
        </div>

        <div class="form-group row">
            <label for="telefono" class="col form-label col-sm-2">Telefono</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  [(ngModel)]="usuarios.telefono" name="telefono" formControlName="telefono">  
            </div>
        </div>

        <div class="form-group row">
            <label for="idTipoU" class="col form-label col-sm-2">TIPO DE USUARIO</label>
            <div class="col-sm-6">
                <select [compareWith]= "compararTipo" type="text" class="form-control" [(ngModel)]="usuarios.idTipoU" name="idTipoU" formControlName="idTipoU">
                    <option [ngValue]="tipoUsuario" *ngFor="let tipoUsuario of tipoUsuario">{{tipoUsuario.descripcion}}</option>
                </select>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" (click)='creat()' *ngIf="!usuarios.ciUsuario else block" >Crear</button>
           
                <ng-template #block>
                    <button class="btn btn-primary" role="button" (click)='updateU()'>Editar</button>
                </ng-template>
            </div>
        </div>
        
    </form>
</div>

