<nav class="navegacion">
    <ul class="menu">
        <li><a href=''>Inicio</a></li>
        <li><a href='usuarios'>Socios</a></li>
        <li><a href="#">Créditos</a></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="#">Servicios</a>
            <ul class="submenu">
                <li><a href="#">Servicio #1</a></li>
                <li><a href="#">Servicio #2</a></li>
                <li><a href="#">Servicio #3</a></li>
            </ul>
        </li>
        <li><a href="#">Buscar</a>
            <ul class="submenu">
                <li><a href="#">Socios</a></li>
                <li><a href="#">Créditos</a></li>
                <li><a href="#">Gastos</a></li>
            </ul>
        </li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Nosotros</a></li>
    </ul>
</nav>
