<nav class="navegacion">
    <ul class="menu">
        <li><a href=''>Inicio</a></li>
        <li><a href='/usuarios'>Socios</a></li>
        <li><a href="/creditos">Créditos</a></li>
        <li><a href="/aporte">Aportes/Multas</a></li>
        <li><a href="#">Servicios</a>
            <ul class="submenu">
                <li><a href="/multas">Multa</a></li>
                <li><a href="#">Servicio #2</a></li>
                <li><a href="#">Servicio #3</a></li>
            </ul>
        </li>
        <li><a href="#">Otros</a>
            <ul class="submenu">
                <li><a href='/gastos'>Gastos</a></li>
            </ul>
        </li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Nosotros</a></li>
    </ul>
</nav>
