<div class="card bg-black text-black">
    <div class="card-header">{{title}}</div>
    <div class="card-body"></div>

    <form>
        
        <div class="form-group row">
            <label for="motivo" class="col form-label col-sm-2">Nombre:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="usuarios.nombres" name="valor" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="fecha" class="col form-label col-sm-2">Apellido:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="usuarios.apellidos" name="fecha" disabled >
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                INGRESAR APORTE
              </button>    
        </div>

        <!--<div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" (click)='creat()' *ngIf="!aporte.idAporte else block" >Crear</button>
           
                <ng-template #block>
                    <button class="btn btn-primary" role="button" (click)='updateU()'>Editar</button>
                </ng-template>
            </div>
        </div> -->
    </form>
</div>

<div class="card">
    <div class="card-header">
      LISTA DE APORTES
    </div>
    <div class="card-body">
      
        <table class="table table-bordered table-stripped">
          <thead class="thead-dark">
              <tr>
                 
                  
                  <th scope="col">Valor</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Accion</th>
              </tr>
          </thead>

          <tbody>
              <tr *ngFor = "let item of aportes">
                  
                
                  <td>{{item.valor}}</td>
                  <td>{{item.fecha | date:'dd-MM-yyyy'}}</td>
                  <td><button type="button" class="btn btn-primary" name="button" [routerLink]="['/aporte/form/',item.idAporte]">Modificar</button></td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>


  <!----------------------MODAL--------------------------------------------------->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form [formGroup]="form">
            <div class="form-group row">
                <label for="motivo" class="col form-label col-sm-2">Valor</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="aporte.valor" name="valor" formControlName="valor">
                </div>

                <div *ngIf="form.get('valor').errors && form.get('valor').touched">
                    <p *ngIf="form.get('valor').hasError('required')">
                      Es un campo requerido
                    </p>
                </div>
                <div *ngIf="form.get('valor').errors && form.get('valor').dirty">
                    <p *ngIf="form.get('valor').hasError('pattern')">
                      Este campo solol admite valores numericos
                    </p>
                </div>
                <div *ngIf="form.get('valor').errors && form.get('valor').dirty">
                    <p *ngIf="form.get('valor').hasError('min')">
                      El valor ingresado es incorrecto
                    </p>
                </div>
            </div>
    
            <div class="form-group row">
                <label for="fecha" class="col form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [(ngModel)]="aporte.fecha" name="fecha" formControlName="fechaAp">
                </div>
                <div *ngIf="form.get('fechaAp').errors && form.get('fechaAp').touched">
                    <p *ngIf="form.get('fechaAp').hasError('required')">
                      Es un campo requerido
                    </p>
                </div>
            </div>
    
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" [disabled]="form.invalid" role="button" (click)='creat()' *ngIf="!aporte.idAporte else block" >Crear</button>
               
                    <ng-template #block>
                        <button class="btn btn-primary" [disabled]="form.invalid" role="button" (click)='updateU()'>Editar</button>
                    </ng-template>
                </div>
            </div>
            
            
           </form>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>       
        </div>
      </div>
    </div>



