<div class="card bg-black text-black">
    <div class="card-header">{{title}}</div>
    <div class="card-body"></div>

    <form [formGroup]="form">
        
        <div class="form-group row">
            <label for="motivo" class="col form-label col-sm-2">Valor</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="aporte.valor" name="motivo" formControlName="valor">
            </div>
            <div class="validos" style="color: rgb(241, 50, 50);">
                <div *ngIf="form.get('valor').errors && form.get('valor').touched">
                    <p *ngIf="form.get('valor').hasError('required')">
                    *Es un campo requerido
                    </p>
                </div>
                <div *ngIf="form.get('valor').errors && form.get('valor').dirty">
                    <p *ngIf="form.get('valor').hasError('pattern')">
                    Este campo solo admite valores numéricos
                    </p>
                </div>
                <div *ngIf="form.get('valor').errors && form.get('valor').dirty">
                    <p *ngIf="form.get('valor').hasError('min')">
                    *El valor ingresado es incorrecto
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="fecha" class="col form-label col-sm-2">Fecha</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" [(ngModel)]="aporte.fecha" name="fecha" formControlName="fechaAp">
            </div>
            <div class="validos" style="color: rgb(241, 50, 50);">
                <div *ngIf="form.get('fechaAp').errors && form.get('fechaAp').touched">
                    <p *ngIf="form.get('fechaAp').hasError('required')">
                        *Es un campo requerido
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" [disabled]="form.invalid" role="button"  *ngIf="!aporte.idAporte else block" >Crear</button>
           
                <ng-template #block>
                    <button class="btn btn-primary" [disabled]="form.invalid" role="button" (click)='updateU()'>Editar</button>
                </ng-template>
            </div>
        </div>
        
    </form>
</div>

